* {
    font-weight: bold;
}

body {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
    padding-left: 0;
    
}

#conteudo {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
    width: 1000px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    background: url(img/lateral.jpg);

}

main {
    background-image: url('img/fundo-papel.jpg');
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#conteudo>main> h1 {
    color: white;
    font: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}

section {
    display: flex;
}

section {
    gap: 100px;
}

section div div {
    width: 350px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border-radius: 20px;
}

.pink {
    background-color: rgb(255, 61, 165);
}

.pink h2 {
    color: yellow;
}

section div div h2 {
    font-weight: bold;
    font-size: 32px;
    color: yellow;
}

.brown {
    background-color: sienna;
}

.yellow {
    background-color: yellow;
    color: white;
}

.yellow h2 {
    color: white;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: green;
}

p {
    text-align: center;
}


.colorido {
    height: 345vh;
    width: 5vw;
    
}

#colorido1 {
    margin-left: auto;
}